@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Zen+Kurenaido:regular);
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

select {
  border-color: transparent;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
:root {
  --clr-deep-dark: #103950;
  --clr-dark: #25546d;
  --clr-medium: #679ca9;
  --clr-light: #bcdbe4;
  --clr-extra-light: #dee9ed;
  --clr-white: #fff;
  --clr--text: rgb(105, 105, 105);
}

html, body {
  font-family: gilroy, sans-serif;
  font-size: 10px;
  background-color: #fff;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1240px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
}
.row-two-col {
  gap: 3rem;
}
.row-two-col .col {
  width: calc(50% - 1.5rem);
}
@media screen and (max-width: 768px) {
  .row-two-col {
    flex-direction: column;
    gap: 1rem;
  }
  .row-two-col .col {
    width: 100%;
  }
}

h1 {
  font-family: gilroy;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 1.2;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 4.2rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 375px) {
  h1 {
    font-size: 3rem;
  }
}

.btn {
  padding: 1rem 2.5rem;
  position: relative;
  font-family: gilroy;
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--clr-white);
  background: var(--clr-deep-dark);
  border-radius: 1rem;
  border: 2px solid var(--clr-dark);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  z-index: 3;
}
.btn:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9176470588);
  box-shadow: 0 0 70px 0 #fff, 0 0 60px 0 #fff, 0 0 40px 0 #fff, 0 0 30px 0 #fff, 0 0 20px 0 #fff, 0 0 10px 0 #fff;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
.btn::after {
  position: absolute;
  font-family: gilroy;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--clr-white);
  transition: all 0.2s ease-in-out;
  z-index: 2;
}
.btn:hover::before {
  width: 100%;
  height: 100%;
}
.btn:hover::after {
  color: var(--clr-dark);
}
.btn.btn-consultation::after {
  content: "Консультація";
}

.link {
  padding: 0 1rem;
  font-family: gilroy;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3;
  color: var(--clr-white);
  position: relative;
  transition: 0.2s ease-in;
  z-index: 1;
}
.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  z-index: -1;
}
.link:hover {
  color: var(--clr-medium);
}
.link:hover::before {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9176470588);
  box-shadow: 0 0 70px 0 #fff, 0 0 60px 0 #fff, 0 0 40px 0 #fff, 0 0 30px 0 #fff, 0 0 20px 0 #fff, 0 0 10px 0 #fff;
}

.wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header {
  padding: 1rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__col:nth-child(2) {
  flex: 1 1 auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 11;
}
.logo__img {
  width: 50px;
  height: 50px;
}
.logo__img img {
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 300px) {
  .logo__img {
    height: 40px;
    width: 40px;
  }
}
.logo__logo-text {
  color: var(--clr-white);
}

.logo-text__title {
  margin-bottom: 5px;
  display: block;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6rem;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (max-width: 300px) {
  .logo-text__title {
    font-size: 2.2rem;
    margin-bottom: 2px;
  }
}
.logo-text__subtitle {
  font-family: gilroy;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media screen and (max-width: 300px) {
  .logo-text__subtitle {
    font-size: 1rem;
  }
}

.nav {
  width: 100%;
  padding: 0 3rem;
}
.nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav ul li {
  padding: 0 1rem;
}
.nav ul li .header__link {
  font-size: 1.8rem;
}
@media screen and (max-width: 992px) {
  .nav {
    padding-top: 8rem;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: -110vh;
    transform: translateX(-50%);
    background: var(--clr-medium);
    transition: 0.4s ease-in-out;
    z-index: 10;
  }
  .nav.active {
    top: 0;
  }
  .nav ul {
    padding-top: 3rem;
    flex-direction: column;
    border-top: 1px solid var(--clr-white);
  }
  .nav ul li {
    width: 100%;
    text-align: start;
  }
}

.mob-menu {
  margin-left: 2rem;
  width: 35px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  transition: 0.3s ease-in;
  z-index: 11;
}
@media screen and (max-width: 300px) {
  .mob-menu {
    width: 25px;
    height: 30px;
  }
}
.mob-menu__btn {
  position: relative;
  width: 35px;
  height: 4px;
  border-radius: 2px;
  background: var(--clr-white);
  transition: all 0.1s 0.2s ease-in;
}
@media screen and (max-width: 300px) {
  .mob-menu__btn {
    height: 3px;
  }
}
.mob-menu__btn::before, .mob-menu__btn::after {
  content: "";
  position: absolute;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background: var(--clr-white);
  transition: all 0.2s ease-in;
}
.mob-menu__btn::before {
  top: -10px;
  width: 40px;
}
@media screen and (max-width: 300px) {
  .mob-menu__btn::before {
    height: 3px;
    width: 30px;
    top: -8px;
  }
}
.mob-menu__btn::after {
  bottom: -10px;
  width: 30px;
}
@media screen and (max-width: 300px) {
  .mob-menu__btn::after {
    height: 3px;
    width: 20px;
    bottom: -8px;
  }
}
.mob-menu.active {
  transform: translateX(60px);
}
.mob-menu.active .mob-menu__btn {
  background-color: transparent;
  transition: all 0.1s ease-in;
}
.mob-menu.active .mob-menu__btn::before {
  width: 30px;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.mob-menu.active .mob-menu__btn::after {
  top: 50%;
  transform: translateY(-50%) rotate(-135deg);
}
@media screen and (min-width: 993px) {
  .mob-menu {
    display: none;
  }
}

.select {
  margin-left: 10px;
  width: 55px;
  padding-bottom: 5px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  z-index: 3;
}
@media screen and (max-width: 445px) {
  .select {
    width: 50px;
  }
}
.select.open .select__arrow {
  transform: rotate(135deg);
}
.select.open .select__dropdown {
  display: block;
  background: linear-gradient(99.97deg, var(--clr-light) 0%, var(--clr-medium) 101.09%);
}
.select.open .select__input {
  border-bottom: none;
  border: solid 1px transparent;
}
.select.open .select__backdrop {
  display: block;
}
.select__input {
  padding: 0 5px;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 2.2rem;
}
.select__arrow {
  transform: rotate(-45deg);
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: 0.15s transform ease-in;
}
@media screen and (max-width: 445px) {
  .select__arrow {
    width: 6px;
    height: 6px;
  }
}
.select__dropdown {
  display: none;
  position: absolute;
  border: solid 1px var(--clr-white);
  border-top: none;
  border-radius: 3px;
  top: 3rem;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3), 0px 5px 6px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.select__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.select__item {
  padding: 0;
  line-height: 2;
  color: var(--clr-white);
  cursor: pointer;
  transition: 0.15s background-color ease-in;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 20px;
  text-align: center;
}
.select__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--clr-dark);
}
.select__item.selected {
  background-color: rgba(255, 255, 255, 0.1);
}
.select__item.selected:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.select__backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.section-main {
  width: 100%;
  height: 100vh;
  padding-top: 8rem;
  background: url("./../img/bg/bg.png") left/cover no-repeat;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.section-main__title {
  max-width: 460px;
  width: 100%;
}
.section-main__title h1 {
  color: var(--clr-white);
  text-align: start;
  text-shadow: 0 0 1px #000;
}
.section-main__title h1 span {
  color: var(--clr-deep-dark);
  text-shadow: none;
}
.section-main__links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 331px) {
  .section-main__links {
    gap: 0.7rem;
  }
}
.section-main__links a {
  color: var(--clr-dark);
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.2;
  transition: 0.2s ease-in;
  text-shadow: 0 0 3px var(--clr-white);
}
.section-main__links a:hover {
  color: var(--clr-white);
  text-shadow: 0 0 1px #000;
}
@media screen and (max-width: 992px) {
  .section-main__links a {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  .section-main__links a {
    font-size: 1.6rem;
  }
}
.section-main__content {
  padding-top: 10rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 992px) {
  .section-main__content {
    max-width: 625px;
    padding-top: 5rem;
    gap: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .section-main__content {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 575px) {
  .section-main__content {
    gap: 1rem;
  }
}
.section-main__text p {
  font-family: inherit;
  font-size: 2.4rem;
  color: var(--clr-white);
  line-height: 1.4;
  text-align: start;
  text-shadow: 0 0 2px #000;
}
@media screen and (max-width: 992px) {
  .section-main__text p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .section-main__text p {
    width: 75%;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 375px) {
  .section-main__text p {
    width: 100%;
    font-size: 1.6rem;
  }
}
.section-main__text p span {
  color: var(--clr-deep-dark);
  font-weight: 600;
  text-shadow: none;
}
.section-main__buttons {
  width: 100%;
  text-align: start;
}
.section-main__img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .section-main__img {
    text-align: end;
  }
}
.section-main__img img {
  max-width: 900px;
  width: 100%;
  min-height: 300px;
  height: 100%;
  position: absolute;
  bottom: 15rem;
  right: -2rem;
  object-fit: contain;
  object-position: right bottom;
  z-index: 0;
}
@media screen and (max-width: 1647px) {
  .section-main__img img {
    max-width: 750px;
    bottom: 17rem;
    right: -11rem;
  }
}
@media screen and (max-width: 1200px) {
  .section-main__img img {
    max-width: 650px;
    bottom: 13rem;
    right: -5rem;
  }
}
@media screen and (max-width: 1049px) {
  .section-main__img img {
    max-width: 600px;
    right: -3rem;
  }
}
@media screen and (max-width: 992px) {
  .section-main__img img {
    max-width: 500px;
    bottom: 10rem;
    right: -5rem;
  }
}
@media screen and (max-width: 768px) {
  .section-main__img img {
    max-width: 450px;
    right: -1rem;
    bottom: 0rem;
  }
}
@media screen and (max-width: 675px) {
  .section-main__img img {
    right: -3rem;
  }
}
@media screen and (max-width: 575px) {
  .section-main__img img {
    max-width: 350px;
    bottom: 0rem;
    right: -1rem;
  }
}
@media screen and (max-width: 445px) {
  .section-main__img img {
    right: -1rem;
  }
}
@media screen and (max-width: 320px) {
  .section-main__img img {
    position: relative;
    bottom: 2rem;
    right: -1rem;
    top: -12rem;
  }
}
@media screen and (max-width: 265px) {
  .section-main__img img {
    top: -14rem;
  }
}
.section-main .wave {
  width: 100%;
  transform: translateY(25%);
}
@media screen and (max-width: 1047px) {
  .section-main {
    background: url("./../img/bg/bg-tab.png") left/cover no-repeat;
  }
}
@media screen and (max-width: 992px) {
  .section-main {
    height: 75vh;
  }
}
@media screen and (max-width: 575px) {
  .section-main {
    background: url("./../img/bg/bg-mob.png") left/cover no-repeat;
  }
}

.section__title {
  padding: 0 0 2rem;
  text-align: center;
}
.section__title h2 {
  font-family: gilroy;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.2;
  color: var(--clr-dark);
}
.section__title h2 span {
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  .section__title h2 {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 768px) {
  .section__title h2 {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 575px) {
  .section__title h2 {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 375px) {
  .section__title h2 {
    font-size: 2.4rem;
  }
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery .image {
  width: 33.3333333333%;
  padding: 0.7rem;
  cursor: pointer;
}
.gallery .image span {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}
.gallery .image span img {
  width: 100%;
  vertical-align: middle;
  transition: 0.3s ease;
  object-fit: cover;
}
.gallery .image:hover span img {
  transform: scale(1.1);
}
@media screen and (max-width: 992px) {
  .gallery .image {
    width: 50%;
  }
}
.preview-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 990;
}
.preview-wrapper.active {
  width: 100%;
  height: 100%;
}

.preview-box {
  position: fixed;
  max-width: 700px;
  width: 100%;
  top: 50%;
  left: 50%;
  background: var(--clr-white);
  padding: 0 5px 5px 5px;
  transform: translate(-50%, -75%) scale(2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.2s ease-in;
  z-index: 999;
}
.preview-box__icon {
  color: var(--clr-dark);
  font-size: 3rem;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s ease;
}
.preview-box__icon:hover {
  opacity: 0.8;
}
.preview-box.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px 12px 10px;
}
.details__title {
  display: flex;
  font-family: inherit;
  font-size: 1.8rem;
  color: var(--clr-medium);
}
.details__title p {
  margin: 0 5px;
  color: var(--clr-dark);
}
.details__title p.current-img {
  font-weight: 700;
}

.img-box {
  width: 100%;
  display: flex;
  overflow-x: auto;
}
.img-box img {
  min-width: 500px;
  width: 100%;
  border-radius: 0 0 15px 15px;
}
.img-box .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: var(--clr-white);
  cursor: pointer;
  width: 5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 57, 80, 0.662745098);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 0 1px rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
.img-box .slide:hover {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .img-box .slide {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
}
.img-box .slide.prev {
  left: 1px;
}
.img-box .slide.next {
  right: 1px;
}